.actions-container {
    padding: 5rem 5rem 2rem 3rem;
    width: 100%;
}

.consult-all-btn {
    width: 50%;
    background-color: rgb(64, 100, 124);
    color: white;
    padding: 1rem 1rem;
    border-radius: 7px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 3px 3px rgba(64, 100, 124, 0.208);

}

.consult-all-btn:hover {
    transform: scale(1.04);
}