* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

input {
    font-family: 'Poppins';
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    box-shadow: none;
}

button {
    font-family: 'Poppins';
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}